{% extends 'base.html'%}
{%  block title %}
Car Shop
{% endblock title %}
{% block content %}
<h1 class=="car-detail-title-1">{{car.title}}</h1>
<p class="price">Car cost is {{ car.price }}$</p>
<p class ="car-info">this car was added user {{car.owner }}{{car.created}}</p>
{% if car.image %}
    <a href="{{car.get_absolute_url}}"><img src="{{car.image.url }}"></a>
{% endif %}
<h2 class="'car-detail-title-2">Information about car</h2>
<p class="car-info">Date last update about this car: {{ car.updated }}</p>
<h2 class="car-detail-title-2">Car description</h2>
<p class = "car-detail-desciption">{{ car.description }}</p>
<h2 class="car-detail-title-2">Comments</h2>

{% endblock content %}