body { 
    background-color:aqua; 
    margin-left: 20%; 
    margin-right: 20%;
}

.car {
    border: darkblue 5px solid;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: lightgreen;
    text-align: center;
}

img {
    width: 80%;
    height: 80%;
}

.car h2 {
    border-bottom: violet 6px double;
    color: darkviolet;
}

.car h3 {
    color: darkgreen;
}
.car-date{
    font-size: smaller;
    margin: 0;
    font-style: italic;
}
.car a {
    text-decoration:none;
    color:darkviolet;
}
.car-detail-title-1 {
    color: darkviolet;
    border-bottom: white 5px double;
    font-weight: normal;
}
.car-detail-title-2 {
    color: darkgreen;
    border-bottom: greenyellow 3px solid;
    font-weight: normal;
}
.price {text-decoration: underline;
font-weight: bold;
color: magenta;
}
.login-form input[type=submit]{
    font-weight: bold;
    background-color:cornflowerblue;
    color: cornsilk;
    padding: 10px 20px;
    font-size: 20px;
    width: auto;
    

}
.login-form label {
    display:block; 
    font-size: 20px;}
.login-form input,textarea{
    margin-bottom: 10px;
    background-color:ghostwhite;
    border: 0;
    padding: 6px 10px;
    font: size 20px;
    width: 30%;
}
.login-heading {
    font-weight: normal;
border-bottom: 1px solid grey;
}
login-para{
    font-size: 20px;
    font-weight: bold;
}
